@font-face {
    font-family: 'hyzhongjianheijregular';
    src: url('hanyizhongjianhei-2-webfont.eot');
    src: url('hanyizhongjianhei-2-webfont.eot?#iefix') format('embedded-opentype'), url('hanyizhongjianhei-2-webfont.woff2') format('woff2'), url('hanyizhongjianhei-2-webfont.woff') format('woff'), url('hanyizhongjianhei-2-webfont.ttf') format('truetype'), url('hanyizhongjianhei-2-webfont.svg#hyzhongjianheijregular') format('svg');
    font-weight: normal;
    font-style: normal;
}